---
interface Props {
    title: string;
    icon: string;
}

const { title, icon } = Astro.props;
---

<div class="xs:w-[250px] w-full">
    <div class="w-full violet-blue-gradient p-[1px] rounded-[20px] shadow-card">
        <div
            class="gradient-move rounded-[20px] py-5 px-12 min-h-[280px] flex justify-evenly items-center flex-col"
        >
            <img
                src={icon}
                alt="web-development"
                class="w-16 h-16 object-contain"
            />

            <h3 class="text-white text-[20px] font-bold text-center">
                {title}
            </h3>
        </div>
    </div>
</div>
